/* ========================== */
/* some globale styles */
/* ========================== */

@font-face {
    font-family: 'Roboto';
    src: url(./assets/Roboto-Regular.ttf);
}

@font-face {
    font-family: 'Roboto Light';
    src: url(./assets/Roboto-Light.ttf);
}

:root {
    --dark-bg-color: #1f2937;
    --quote-section-bg-color: #E5E7EB;
    --btn-color: #3882F6;

    --hdr-ht: 50px;
    --footer-ht: 60px;

    --gap: 20px;
    --font: 'Roboto';
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: var(--font);
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* ============= */
/* header styles */
/* ============= */

header {
    height: var(--hdr-ht);
    background-color: var(--dark-bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--gap) 200px;
}

.logo-link {
    font-size: 24px;
    color: #F9FAF8;
}

nav ul {
    display: flex;
    gap: var(--gap);
}

nav ul a {
    font-size: 18px;
    color: #E5E7EB;
}

/* =========== */
/* main styles */
/* =========== */

main {
    flex: 1;
}

/* ================== */
/* section (1) styles */
/* ================== */

.section-1 {
    display: flex;
    align-items: center;
    gap: calc(var(--gap) * 2);
    padding: 100px 200px;
    background-color: var(--dark-bg-color);
}

.left h1 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.left p,
.signup-btn {
    font-size: 18px;
    color: #E5E7EB;
    margin-top: var(--gap);
}

.signup-btn {

    padding: 10px 35px;
    font-size: 1.1rem;
    font-weight: bold;
    background-color: var(--btn-color);
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.signup-btn:hover {
    filter: brightness(.9);
}

.section-1 .right img {
    width: 100%;
}

/* ================== */
/* section (2) styles */
/* ================== */

.section-2 {
    padding: calc(var(--gap) * 3) 200px;
    text-align: center;
}

.section-2 h2 {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.section-2 .cards-container {
    display: flex;
    justify-content: center;
    gap: calc(var(--gap) * 2);
    margin-block: calc(var(--gap) * 3);
}

.card img {
    width: 200px;
    height: 200px;
    border: 5px solid var(--btn-color);
    border-radius: 15px;
    box-sizing: border-box;
}

.card p {
    font-size: 19px;
    color: var(--dark-bg-color);
    width: 200px;
}

/* ================== */
/* section (3) styles */
/* ================== */

.section-3 {
    background-color: var(--quote-section-bg-color);
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quote {
    position: relative;
    max-width: 1000px;
    padding: var(--gap);
    font-size: 36px;
    font-family: 'Roboto Light';
    font-style: italic;
    color: #1F2937;
}

.quote strong {
    position: absolute;
    right: var(--gap);
    font-size: 25px;
    font-family: var(--font);
}

/* ================== */
/* section (4) styles */
/* ================== */



/* ============= */
/* footer styles */
/* ============= */

footer {
    height: var(--footer-ht);
    background-color: var(--dark-bg-color);
}